.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  border-radius: 0;
}

.accordion .card {
  margin-bottom: 0.75rem;
  box-shadow: 0 1px 15px 1px rgba(230, 234, 236, 0.35);
  border-radius: 0.25rem;
}

.accordion .card .card-header {
  background-color: transparent;
  border: none;
  padding: 2rem;
}

.grid-margin {
  margin-bottom: 0.625rem;
}

.accordion .card .card-header a[aria-expanded="true"]::before {
  content: "\F374";
}

.accordion .card .card-header a::before {
  font-family: "Material Design Icons", Tahoma, sans-serif;
  position: absolute;
  right: 7px;
  top: 0;
  font-size: 18px;
  display: block;
}

.accordion .card .card-header a[aria-expanded="false"]::before {
  content: "\F415";
}

a {
  color: #a90600;
  text-decoration: none;
}

a:visited {
  color: gray;
}
